# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# R
.RData
.Rhistory

# Virtual environment
.venv/

# Environment variables
.env

# Data + outputs
output/
data/
*.csv

# Model weights
*.pt

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/