[Unit]
Description=Mount data USB
After=local-fs.target usb-storage.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mount-data.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
