# /etc/systemd/system/recording.service
[Unit]
Description=Snapshot recorder
After=mount-data.service
Requires=mount-data.service

[Service]
ExecStart=/usr/bin/ffmpeg -f v4l2 -i /dev/video0 -vf fps=1/30 -strftime 1 "/data/recordings/%%Y-%%m-%%dT%%H%%M%%S.jpg"
Restart=on-failure
RestartSec=10
User=pi

[Install]
WantedBy=multi-user.target
